<h1>About</h1>
<p>This is the about page</p>
<%= link_to 'Home', root_path %>
<%= link_to image_tag('profileimage.png'), 'https://blog.ctf365.com/wp-content/uploads/2014/07/keep-calm-and-learn-ruby-on-rails-8.png' %>